header{
    background-color: #2629c7; /* Устанавливает фоновый цвет для .navbar */
}
.navbar {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; /* Распределяет дочерние элементы .navbar равномерно, 
    с максимальным пространством между ними */
    color:white;
}
.navbar{
    margin:auto ;
}
.navbar ul {
    position: absolute; /* Абсолютное позиционирование относительно ближайшего позиционированного предка, в нашем случае экрана. */
    background: linear-gradient(0deg, rgb(45, 45, 231) 0%, rgba(21, 15, 97, 0.72) 37%, rgb(0, 0, 0) 100%);   
    flex-direction: column; /* Элементы списка будут выстраиваться вертикально (необходимо для флекс-контейнера) */
    width: 30%; /* Ширина списка равна 30% от ширины родительского элемента */
    height: auto; /* Высота автоматически подстраивается под содержимое */
    top: 68px; /* Расположение списка на 68px ниже от верхнего края родительского элемента */
    left: -40%; /* Расположение списка на 40% ширины родительского элемента слева (вне видимой области) */
    z-index: 2; /* Уровень стека элемента, чтобы он перекрывал другие элементы с меньшим z-index */
}

/* Стили для элементов списка внутри навигационного меню */
.navbar ul li {
    margin-top: 10px; /* Отступ сверху для элементов списка */
}

/* Стили для элемента списка при наведении */
.navbar ul li:hover {
    background-color: #a81212; /* Изменяет фоновый цвет элемента списка при наведении курсора */
    transform: scale(1.07); /* Увеличение размера элемента на 7% при наведении */
    transition: 0.4s ease; /* Плавный переход эффекта с продолжительностью 0.4 секунды */
    border-radius: 20px; 
    color: white;
}

/* Стили для ссылок в элементах списка при наведении */
.navbar ul li a:hover {
    color: white; /* Цвет текста ссылки становится белым при наведении */
}

.navbar ul li:hover {
    background-color: #a81212; /* Изменяет фоновый цвет элемента списка при наведении курсора */
    border-radius: 20px; /* Скругляет углы элемента списка при наведении курсора */
}

.navbar ul li a {
    text-decoration: none; 
    color:rgb(216, 216, 216); /* Устанавливает цвет текста ссылок черным */
    margin: auto; /* Центрирует текст внутри элемента списка */
}

.navbar .entry {
    display: flex; /* Устанавливает div как flex-контейнер */
    margin-right: 20px; /* Добавляет отступ справа у div */
    margin:auto 20px;
}

.navbar .entry a {
    text-decoration: none; /* Убирает подчеркивание у ссылок в div */
    color: rgb(216, 216, 216); /* Устанавливает цвет текста ссылок черным */
    margin: 20px; /* Центрирует текст внутри div */
}

.navbar .entry:hover {
    background-color: #a81212; /* Изменяет фоновый цвет div при наведении курсора */
    border-radius: 20px; /* Скругляет углы div при наведении курсора */
}
.burger {
    display: block; 
    position: relative; /* Относительное позиционирование для внутренних элементов */
    width: 50px; /* Ширина контейнера */
    height: 40px; /* Высота контейнера */
    margin:auto; /* Автоматические отступы по бокам для центрирования */
    margin-left: 20px; /* Отступ слева */
    margin-right: 10px; /* Отступ справа */
}


.burger span {
    position: absolute; /* Абсолютное позиционирование для расположения полосок внутри контейнера */
    width: 30px; /* Ширина каждой полоски */
    left: 5px; /* Отступ от левого края контейнера */
    height: 3px; /* Высота полоски */
    background-color: rgb(255, 255, 255); /* Цвет полоски */
    bottom: 20px; /* Расположение полоски от нижнего края контейнера */
}
.burger span:nth-child(1) {
    transform: translateY(-10px); /* Перемещение первой полоски вверх на 10px */
}
/* Стили для третьей полоски бургер-меню */
.burger span:nth-child(3) {
    transform: translateY(10px); /* Перемещение третьей полоски вниз на 10px */
}
.navbar ul li:nth-child(1) {
    margin-top: 20px; /* Увеличение отступа сверху для первого элемента списка */
}

/* Стили для ссылок внутри элементов списка */
.navbar ul li a {
    margin-left: 0; /* Установка нулевого отступа слева для ссылок */
    font-size: 1.2rem; /* Установка размера шрифта в 1.2rem */
}

/* Стили для навигационного меню при открытом состоянии */
.navbar.open ul {
    transform: translateX(100%); /* Перемещение меню на 100% ширины вправо (выдвигается за пределы видимой области) */
    transition: 0.7s ease-in-out; /* Плавный переход эффекта с продолжительностью 0.7 секунды */
}

/* Стили для первой полоски бургер-меню при открытом состоянии */
.navbar.open .burger span:nth-child(1) {
    transform: translateY(0) rotate(45deg); /* Поворачивает первую полоску на 45 градусов и возвращает в исходное положение по вертикали */
}

/* Стили для второй полоски бургер-меню при открытом состоянии */
.navbar.open .burger span:nth-child(2) {
    opacity: 0; /* Делает вторую полоску полностью прозрачной (не видимой) */
}

/* Стили для третьей полоски бургер-меню при открытом состоянии */
.navbar.open .burger span:nth-child(3) {
    transform: translateY(0) rotate(-45deg); /* Поворачивает третью полоску на -45 градусов и возвращает в исходное положение по вертикали */
}


/* Контейнер с элементами, использующий Flexbox для адаптивного размещения */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px; 
}
.content1{
    max-width:54%;
    margin:auto 0;
    & p {
        text-align: justify; /* Выравнивание текста по ширине */
        font-size: 1.2rem; /* Увеличенный размер шрифта */
        font-weight: normal; /* Обычный вес шрифта */
        margin-right: 20px;
        margin-left: 10px; /* Отступы по бокам */
    }
}

/* Стили для изображений внутри контейнера */
.container img {
    border-radius: 10%; /* Скругленные углы изображения */
    box-shadow: 5px 5px 5px gray; /* Добавление тени с серым цветом */
    min-width:30%; /* Ширина изображения составляет 50% от ширины родительского элемента */
    max-width: 46%;
    height: auto; /* Автоматическое подстраивание высоты для сохранения пропорций */
    margin: auto 0;
}

/* Эффект при наведении на изображение */
.container img:hover {
    transform: scale(1.1); /* Увеличение изображения на 10% */
    transition: 0.5s ease; /* Плавный переход за 0.5 секунды */
    box-shadow: 10px 10px 5px #7cc6e5; /* Изменение цвета тени на синий */
}

/* Фон для всей страницы */
body {
    background-color: #f7f7fa; /* Светло-серый фон */
}

/* Фон для основного содержимого страницы */
body {
    background: linear-gradient(0deg, rgb(45, 45, 231) 0%, rgba(21, 15, 97, 0.72) 37%, rgb(0, 0, 0) 100%);   
}
/* Стили для текста в параграфах */
p {
    text-align: justify; /* Выравнивание текста по ширине */
    font-size: 1.2rem; /* Увеличенный размер шрифта */
    font-weight: normal; /* Обычный вес шрифта */
    margin-right: 20px;
    margin-left: 10px; /* Отступы по бокам */
    color:white;
}

.container section {
    width: 100%; /* Секция занимает всю ширину контейнера */
    margin: auto; /* Центрирование секции */
}

.container-video {
    display: flex;
    flex-direction: column; /* Контейнер для видео, элементы располагаются вертикально */
}

.video1, .video2, .video3 {
    margin-bottom: 20px; /* Отступ снизу для каждого видео-блока */
    flex-direction: column; /* Внутренние элементы располагаются вертикально */
    display: flex; /* Применение Flexbox для управления содержимым */
}

.video1 video {
    margin: auto; /* Центрирование видео по горизонтали */
}

.video2 iframe {
    margin: auto; /* Центрирование iframe по горизонтали */
}

.video3 iframe {
    margin: auto; /* Центрирование iframe по горизонтали */
}

.container-audio {
    display: flex;
    flex-direction: column; /* Контейнер для аудио, элементы располагаются вертикально */
}

.audio1, .audio2, .audio3 {
    display: flex;
    flex-direction: column; /* Внутренние элементы располагаются вертикально */
    margin-top: 20px; /* Отступ сверху для каждого аудио-блока */
}

.audio1 audio, .audio2 audio, .audio3 audio {
    width: 60%; /* Аудиоплееры занимают 60% ширины контейнера */
    margin: auto; /* Центрирование аудиоплееров по горизонтали */
}

.audio1 img, .audio2 img, .audio3 img {
    margin: auto; /* Центрирование изображений */
    border-radius: 10%; /* Скругление углов изображений */
    box-shadow: 5px 5px 5px #7cc6e5; /* Добавление синеватой тени к изображениям */
}

.container-book {
    display: flex;
    flex-direction: column; /* Контейнер для книг, элементы располагаются вертикально */
}

.book1, .book2, .book3 {
    display: flex;
    flex-direction: column; /* Внутренние элементы располагаются вертикально */
    margin-top: 20px; /* Отступ сверху для каждого книжного блока */
}

.book1 img, .book2 img, .book3 img {
    margin: auto; /* Центрирование изображений */
    border-radius: 10%; /* Скругление углов изображений */
    box-shadow: 5px 5px 5px #7cc6e5; /* Добавление синеватой тени к изображениям */
    margin-bottom: 10px; /* Отступ снизу для изображений */
}

.book1 a, .book2 a, .book3 a {
    margin: auto; /* Центрирование ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    color: black; /* Цвет текста ссылок черный */
    font-size: 1.2rem; /* Увеличенный размер шрифта для ссылок */
} 

.book1 img:hover, .book2 img:hover, .book3 img:hover {
    box-shadow: 5px 5px 5px greenyellow; /* Изменение тени на зеленовато-желтую при наведении на изображение */
}

.book1 a:hover, .book2 a:hover, .book3 a:hover {
    background-color: #7cc6e5; /* Изменение фона ссылки на синий при наведении */
    transition: 0.7s ease; /* Плавный переход фона за 0.7 секунды */
}

footer {
    display: flex;
    flex-direction: row; /* Элементы внутри футера располагаются горизонтально */
    justify-content: center; /* Центрирование содержимого футера */
}

footer a {
    margin-right: 10px; /* Отступ справа у ссылок в футере */
}


@media (max-width: 700px) {
    
    
    .container {
        display: flex;
        flex-direction: column; /* Переключение на вертикальный макет */
    }
    
    .person {
        display: flex;
        flex-direction: column; /* Внутренние элементы располагаются вертикально */
        flex-wrap: wrap; /* Перенос элементов на новую строку при необходимости */
        width: 100%; /* Элемент занимает всю ширину контейнера */
        margin: 0; /* Убираем отступы */
    }

    .person p {
        margin-top: 5px; /* Отступ сверху для параграфов */
        margin-bottom: 10px; /* Отступ снизу для параграфов */
    }
    
    .container img {
        margin-top: 20px; /* Отступ сверху для изображений */
        border-radius: 10%; /* Скругление углов изображений */
        box-shadow: 5px 5px 5px gray; /* Тень для изображений */
        width: 95%; /* Изображение занимает 95% ширины контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
        margin: auto; /* Центрирование изображения по горизонтали */
    }
    
    .container img:hover {
        transform: scale(1.03); /* Легкое увеличение изображения при наведении */
        transition: 0.5s ease; /* Плавный переход увеличения за 0.5 секунды */
        box-shadow: 5px 5px 5px #7cc6e5; /* Изменение тени при наведении */
    }

    .interests {
        display: flex;
        flex-direction: column; /* Внутренние элементы располагаются вертикально */
        flex-wrap: wrap; /* Перенос элементов на новую строку при необходимости */
        width: 100%; /* Элемент занимает всю ширину контейнера */
        margin: 0; /* Убираем отступы */
    }

    .interests p {
        margin-top: 10px; /* Отступ сверху для параграфов */
        margin-bottom: 0; /* Убираем отступ снизу */
    }

    h2 {
        margin: 10px; /* Отступы вокруг заголовка */
        text-align: center; /* Выравнивание заголовка по центру */
    }

    .video1 video {
        margin-top: 20px; /* Отступ сверху для видео */
        width: 95%; /* Видео занимает 95% ширины контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
    }
    
    .video2 iframe {
        width: 95%; /* Iframe занимает 95% ширины контейнера */
        height: 320px; /* Высота Iframe фиксирована */
    }
    
    .video3 iframe {
        width: 95%; /* Iframe занимает 95% ширины контейнера */
        height: 320px; /* Высота Iframe фиксирована */
    }

    .book1 img, .book2 img, .book3 img {
        width: 95%; /* Изображения книг занимают 95% ширины контейнера */
        height: auto; /* Высота автоматически подстраивается под ширину */
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    /* При ширине экрана от 700px до 900px */
    
    .container img {
        margin-top: 20px; /* Отступ сверху для изображений */
        border-radius: 10%; /* Скругление углов изображений */
        box-shadow: 5px 5px 5px gray; /* Тень для изображений */
        width: 320px; /* Ширина изображения фиксирована */
        height: 200px; /* Высота изображения фиксирована */
        margin: auto; /* Центрирование изображения по горизонтали */
    }
}
